body {
	font-family: sans-serif, verdana, arial;
	font-size: 12px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 40px;
	margin: auto;
  width: 50%;
}

.personal-details-container {
	display: flex;
	flex-flow: column ;
	width: 237px;
	text-align: center;
	height: auto;
	background-color: #86D6FC;
	justify-content: space-between;
}

.work-container {
	grid-column: 2 / span 2;
	width: 427px;
}

.job-grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.work-header {
	margin: 30px 0px;
	width: 100%;
}

.dates {
	width: 100px;
}

.job-description {
	width: 300px;
}

.references {
	width: 48%;
}

.details-header {
	background-color: #105A97;
	display: block;
	color: white;
	text-transform: uppercase;
}

.ref-name {
	text-transform: uppercase;
	line-height: 30px;
}

 /* wrong. need to remove this and centre boxes */


.personal-details-container p {
	margin: 0px 15px;
}

/* personal details */

img {
	margin-top: 50px;
	border-radius: 50%;
	max-height: 135px;
	border: 3px solid grey;
}

.personal-details-container li {
	text-align: left;
  list-style-type: none;
}

.personal-details-container p {
	text-align: justify;
 	text-justify: inter-word;
}


/* main section begin */
h1 {
	margin-top: 60px;
	font-size: 2.7em;
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
	margin-top: -20px;
	font-size: 1.5em;
	font-weight: normal;
}

h3 {
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: normal;
}

hr {

}

h3 {
	display: inline;
}

h4 {
	text-transform: uppercase;
}

h5 {
	font-weight: normal;
}

hr {
	 border-top: 1px solid #86D6FC;
}

/* column/row measurements */

/* icons */
.hobbies-icons i {
	border: 1.5px solid #105A97;
	padding: 8px;
	border-radius: 50%;
	font-size: 30px;
}

.work-icon {
	margin-right: 20px;
	font-size: 20px;
	color: #86D6FC;
}

/* extra formatting details */
#joseph {
	color: #86D6FC;
}

#bateman {
	font-weight: lighter;
}

#freela {
	border-bottom: 1.2px solid #86D6FC
}

.name {
	margin-bottom: 50px;
}

.company-name {
	text-transform: uppercase;
}

@media all and (max-width: 768px) {

}
