body {
	font-family: sans-serif, verdana, arial;
	font-size: 12px;
}

.main-container {
	display: flex;
	flex-flow: row wrap;
  justify-content: center;
	margin-bottom: 20px;
/* For the two columns */
}

.details-item p {
	text-align: justify;
 	text-justify: inter-word;
	margin: 0px 30px
}

/* personal details */

.personal-details-container {
  width: 237px;
	background-color: #86D6FC;
	display: flex;
	flex-flow: row wrap;
	/* for the over all container on left of page */
}

.work-container {
	display: flex;
	flex-flow: column wrap;
	width: 433px;
	padding-left: 40px;
}

.details-item {
	text-align: center;
	width: 350px;

	/* individual containers on left of page */

}

#picture {
margin-bottom: : 20px;
/* this doesn't work */
}

#hobbies {
	margin-top: auto;
}

.hobbies-icons i {
	border: 2px solid black;
	padding: 8px;
	border-radius: 50%;
	font-size: 30px;
}

.info {
	display: flex;
  flex-flow: column wrap;
}

img {
	border-radius: 50%;
	max-height: 150px;
	max-width: 150px;
	margin: auto;

}

.details-header {
	background-color: #03116D;
	color: white;
	text-transform: uppercase;
}

.details-item li {
	text-align: left;
}

h1 {
	font-size: 3em;
	font-weight: normal;
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
}

#personal-details {
	margin: 0px 20px;
	width: 300px;
	background-color: #86D6FC;
}

h3 {
	text-transform: uppercase;

}

hr {
	 border-top: 1px solid #86D6FC;
}

#freela {
	text-decoration: underline;
	text-decoration-color: #86D6FC;
	height: 30px;
	border: 30px;
	/* can't seem to figure out how to create
	distance between text and underline */
}

.company-name {
	text-transform: uppercase;
}

/* job details */

.split-details {
	display: flex;
	flex-flow: row wrap;
}

.dates {
	width: 200px;
}

.job {
	width: 200px;
	margin-bottom: 30px;
}

.ref {
	width: 200px;
}



#Joseph {
	color: #86D6FC;
}

.work-item h3 {
	display: inline;
}

h4 {
	display: inline;
	text-transform: uppercase;
}

h5 {
	margin: 7px 5px 0px 0px;
	font-weight: normal;
	font-size: 12px;
}

#education {
	margin-top: 50px;
}
